<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned by default the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{HH:mm:ss} %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

<!-- 	<appender name="RollingFile"  -->
<!-- 		class="ch.qos.logback.core.rolling.RollingFileAppender">  -->
	      
<!--           <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
<!-- 	          <fileNamePattern>${weixinserver}/WEB-INF/logs/weixin-%d{yyyy-MM-dd}.log</fileNamePattern> -->
<!-- 			  <maxHistory>10</maxHistory> -->
<!-- 		  </rollingPolicy> -->
		  
<!-- 		  <encoder> -->
<!-- 		  	<pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern> -->
<!-- 		  </encoder> -->
<!--       </appender> -->

  <root level="info">
    <appender-ref ref="STDOUT" />
<!--     <appender-ref ref="RollingFile" /> -->
  </root>
</configuration>

